.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
app/src/main/assets/do_not_commit_config.properties
docs/DashBoardExample.png
docs/Bhowa-1-Nov-3-Dec-2016.pdf
docs/Bhowa-1-Oct-31-Dec-2016.pdf
docs/Bhowa-Jan-1-20-2017.pdf
docs/databaseFullSQL-05-02-2017.sql
docs/databaseFullSQL-11-02-2017.sql
docs/databaseFullSQL-14-02-2017.sql
docs/databaseFullSQL-14-02-2017-1.sql
docs/FullDataBase.sql
docs/initial_data/balanceSheet.xls
docs/initial_data/balanceSheetold.xls
docs/initial_data/BHOWA_Exp_&_Receipt_Status_18_Oct_2016.xlsx
docs/initial_data/test_data/BHOWA_Exp_&_Receipt_Status_20_Jan_2017.xlsx
docs/initial_data/test_data/Bhowa-1-Oct-31-Dec-2016.pdf
docs/initial_data/test_data/Bhowa-Jan-1-20-2017.pdf
docs/initial_data/test_data/LoadDataNewTillSep2016.csv
docs/initial_data/BHOWA_Exp_&_Receipt_Status_18_Oct_2016.xlsx
