<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="societyhelp.app" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />
    <!-- To access internet -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- TO access storage -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <android:uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- android:uses-permission android:name="android.permission.READ_PHONE_STATE" / -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity android:name=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".FileBrowserActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".HomeTransactionActivity" />
        <activity android:name=".ManageUserActivity" />
        <activity android:name=".ManageExpenditureTypeActivity" />
        <activity android:name=".MyTransactionsActivity" />
        <activity android:name=".NotificationActivity" />
        <activity android:name=".TransactionRawDataActivity" />
        <activity android:name=".ViewRawDataActivity" />
        <activity android:name=".MapUserToNameAlias" />
        <activity android:name=".UserAliasMappingActivity" />
        <activity android:name=".AddUserActivity" />
        <activity android:name=".CreateLoginIdActivity" />
        <activity android:name=".AddFlatDetailsActivity" />
        <activity android:name=".ManageLoginActivity" />
        <activity android:name=".ManageFlatActivity" />
        <activity android:name=".DetailTransactionViewActivity" />
        <activity android:name=".MyDuesActivity" />
        <activity android:name=".ManageFlatWisePayableActivity" />
        <activity android:name=".AddCashExpenseActivity" />
        <activity android:name=".VerifiedCashPaymentActivity" />
        <activity android:name=".SplitTransactionsFlatWiseActivity" />
        <activity android:name=".FlatWiseAllPayableActivity" />
        <activity android:name=".transaction.StagingTransactionViewActivity" />
        <activity android:name=".transaction.TransactionHomeActivity" />
        <activity android:name=".transaction.CreditTransactionsActivity" />
        <activity android:name=".transaction.DebitTransactionsActivity" />
        <activity
            android:name=".CreateSocietyActivity"
            android:label="@string/title_activity_create_society" >
        </activity>
        <activity
            android:name=".StatusMessageActivity"
            android:label="@string/title_activity_status_message" >
        </activity>
        <activity
            android:name=".ManualSplitActivity"
            android:label="@string/title_activity_manual_split" >
        </activity>
        <activity
            android:name=".ExpenseReportInPieChartActivity"
            android:label="@string/title_activity_expense_report_in_pie_chart" >
        </activity>
        <activity
            android:name=".reports.AllExpenseReportActivity"
            android:label="@string/title_activity_all_expense_report" >
        </activity>
        <activity
            android:name=".reports.ExpenseTypeWiseReportActivity"
            android:label="@string/title_activity_expense_type_wise_report" >
        </activity>
    </application>

</manifest>
