<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="societyhelp.app" >

    <!--uses-sdk android:minSdkVersion="8" android:targetSdkVersion="19" /-->
    <!-- To access internet -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- TO access storage -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity android:name="societyhelp.app.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="societyhelp.app.FileBrowserActivity" />
        <activity android:name="societyhelp.app.HomeActivity" />
        <activity android:name="societyhelp.app.HomeTransactionActivity" />
        <activity android:name="societyhelp.app.ManageUserActivity" />
        <activity android:name="societyhelp.app.ManageExpenditureTypeActivity" />
        <activity android:name="societyhelp.app.MyTransactionsActivity" />
        <activity android:name="societyhelp.app.NotificationActivity" />
        <activity android:name="societyhelp.app.TransactionRawDataActivity" />
        <activity android:name="societyhelp.app.ViewRawDataActivity" />
        <activity android:name="societyhelp.app.MapUserToNameAlias" />
        <activity android:name="societyhelp.app.UserAliasMappingActivity" />
        <activity android:name="societyhelp.app.AddUserActivity" />
        <activity android:name="societyhelp.app.CreateLoginIdActivity" />
        <activity android:name="societyhelp.app.AddFlatDetailsActivity" />
        <activity android:name="societyhelp.app.ManageLoginActivity" />
        <activity android:name="societyhelp.app.ManageFlatActivity" />
        <activity android:name="societyhelp.app.DetailTransactionViewActivity" />
        <activity android:name="societyhelp.app.MyDuesActivity" />
        <activity android:name="societyhelp.app.ManageFlatWisePayableActivity" />
    </application>

</manifest>
